<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faasachat</title>
    <link rel="stylesheet" href="../../assets/css/loader.css">
    <link rel="stylesheet" href="../../assets/css/faasachat.css">
    <link rel="stylesheet" href="../../assets/css/chat.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>
    <div class="container chat-container">
        <div class="chat-info">
            <div class="user-info" id="user-info"></div>
            <div class="contacts-list-area">
                <div class="contacts-list" id="contacts-list"></div>
            </div>
        </div>
        <div class="chat-area" id="chat-area">
            <div class="contact-item">
                <div class="contact-name" id="active-contact-name"></div>
                <div class="chat-send-file-group">
                    <input type="file" class="chat-file-field" id="chat-file-field">
                    <i class="fas fa-paperclip chat-file-field-icon" id="chat-file-field-icon" title="Click here to send a file"></i>
                </div>
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="chat-messages-list" id="chat-messages-list"></div>
            </div>
            <div class="chat-send">
                <div class="chat-send-field-group">
                    <input type="text" class="chat-send-field" id="send-message-input">
                </div>
            </div>
        </div>
        <div class="block-container hide" id="block-container">
            <div class="lds-ripple" id="loader"><div></div><div></div></div>
        </div>
    </div>
    <script src="chat.js"></script>
</body>
</html>