:root {
    --main-bg-color: #f9f9f9;
    --field-bd-color: #cccccc;
    --field-bg-color: #ffffff;
    --button-bd-color: #005c8e;
    --button-bg-color: #006fab;
    --button-color: #ffffff;
    --button-bd-color-hv: #0876b1;
    --button-bg-color-hv: #0e86c7;
    --button-color-hv: #ffffff;
    --error-bg-color: #ffe4e4;
    --error-bd-color: #b94242;
    --error-color: #b94242;
    --error-bg-color-hv: #ffd6d6;
    --error-bd-color-hv: #b94242;
    --error-color-hv: #b94242;
    --success-bg-color: #e4ffec;
    --success-bd-color: #42b960;
    --success-color: #42b96a;
    --success-bg-color-hv: #d6ffd9;
    --success-bd-color-hv: #42b942;
    --success-color-hv: #42b94c;
    --block-bg-color: #0000052a;
    --loader-color: #000000;
    --font-color-secondary: #474747;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    user-select: none;
}

html, body {
    height: 100%;
}

body {
    background: var(--main-bg-color);
}

.block-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--block-bg-color);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-container .lds-ripple div {
    border-color: var(--loader-color);
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: .5em;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #d5d5d5;
}



.field-group {
    display: grid;
}

.field {
    height: 28px;
    border: 1px solid var(--field-bd-color);
    background: var(--field-bg-color);
    padding: 5px;
}

.label:after {
    content: ':';
}

.button {
    width: 100%;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--button-bd-color);
    background: var(--button-bg-color);
    color: var(--button-color);
}

.button:hover {
    border-color: var(--button-bd-color-hv);
    background: var(--button-bg-color-hv);
    color: var(--button-color-hv);
}

.button, .field {
    border-radius: 5px;
}

.button:focus, .field:focus {
    border: none;
    border-radius: none;
}

.field-group + .field-group {
    margin-top: 5px;
}

.field-group + .button-group {
    margin-top: 10px;
}

.message-container {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    max-height: 60px;
    top: -60px;
    width: 100%;
    cursor: pointer;
    animation: fadein 1s;
}

.success-container {
    background: var(--success-bg-color);
    border-color: 1px solid var(--success-bd-color);
    color: var(--success-color);
}

.success-container:hover {
    background: var(--success-bg-color-hv);
    border-color: var(--success-bd-color-hv);
    color: var(--success-color-hv);
}

.error-container {
    background: var(--error-bg-color);
    border-color: 1px solid var(--error-bd-color);
    color: var(--error-color);
}

.error-container:hover {
    background: var(--error-bg-color-hv);
    border-color: var(--error-bd-color-hv);
    color: var(--error-color-hv);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}